{% extends 'ToDoApp/base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid" id="wrapper">
                
        <div class="row ">
            
            <div class="col-lg-4 col-lg-offset-4" id="content">
                {% if user.is_authenticated %}
                    <h4>{{ user.username }}</h4>
                    <a  href="{% url 'logout' %}">Logout</a>
                    <h1 style="margin-top: 0em; color: rgb(218, 31, 31); background-color: lightskyblue; font-weight: bold;">What-ToDo!</h1>
                    <a  href="{% url 'home' %}">Home</a>
                {% else %}
                    <a href="{% url 'login' %}" >Login</a>
                    <a href="{% url 'register' %}" style="color: lightslategrey;">Register</a>
                    <h1 style="margin-top: 0em; color: rgb(218, 31, 31); background-color: lightskyblue; font-weight: bold;">What-ToDo!</h1>
                    <p style="color: purple;">Note down your to-do task and just click or touch in that task to mark it completed</p>
                    <h4>If you are new to this app,<a href="{% url 'register' %}">Register</a></h4>
                    <h5>OR</h5>
                    <h4>If you already have account,<a href="{% url 'login' %}">Login</a></h4>
                {% endif %}
                
                
    </div>

{% endblock %}